/ TODO: add filtering
- @trails.each do |trail|
  / TODO: mobile should be vertical
  .row
    .col.s12.l12
      .card.horizontal
        .card-image = image_tag trail['imgMedium']
        .card-stacked
          .card-content
            h3.card-title= trail['name']
            / TODO: replace spans with icons
            p
              span.red-text Location:
              ' #{trail['location']}
            p
              span.red-text Stars:
              ' #{trail['stars']}
            p
              span.red-text Difficulty:
              ' #{trail['difficulty']}
          .card-action
             button.btn{ style='width:100%' data-action="choose-trail#selectTrail"
              data-trail-id=trail['id'] }
              | Select

/ "id": 31804,
/"name": "Centennial Cone",
/"type": "Featured Ride",
/"summary": "One of the better beginner/intermediate rides in the front range.",
/"difficulty": "blue",
/"stars": 4,
/"starVotes": 209,
/"location": "Idaho Springs, Colorado",
/"url": "https://www.mtbproject.com/trail/31804/centennial-cone",
/"imgSqSmall": "https://cdn-files.apstatic.com/mtb/367668_sqsmall_.jpg",
/"imgSmall": "https://cdn-files.apstatic.com/mtb/367668_small_.jpg",
/"imgSmallMed": "https://cdn-files.apstatic.com/mtb/367668_smallMed_.jpg",
/"imgMedium": "https://cdn-files.apstatic.com/mtb/367668_medium_.jpg",
/"length": 17.2,
/"ascent": 2405,
/"descent": -2409,
/"high": 7915,
/"low": 6804,
/"longitude": -105.371,
/"latitude": 39.7372,
/"conditionStatus": "Minor Issues",
/"conditionDetails": "Snowy: Bits of snow and ice in the shade",
/"conditionDate": "2018-02-20 15:47:15"            / td = link_to 'Destroy', ride, data: { confirm: 'Are you sure?' }, method: :delete
