.card.horizontal .card-image img {
  display: block;
  max-width: 230px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h3.card-title {
  margin-top: 0;
}

.card-title {
  &__image {
    height: 1.2rem;
    padding-right: 0.5rem;
  }
}
