.card--comments { 
  .card-content { 
    max-height: 80vh;
    overflow-y: auto;
  }
  .card-action {
    @media #{$small-and-down} {
      position: fixed;
      bottom: 5%;
      width: 100%;
    }
  }
}

.comments {
  @extend .collection;
  border: none;
  margin: none;

  &__item {
    @extend .collection-item, .avatar;
    border-bottom: none !important;
  }

  &__body {
    @extend .white;
    padding: 0.5em;
    border: 0.1em white solid;
    border-radius: 1em;
  }

  &__user {
    color: $secondary-color;
    font-weight: bold;
  }

  &__new {
    @extend .white;
    border: 0.05em $primary-color solid;
    border-radius: 1em;
  }

  &__send {
    @extend .btn-flat;
    margin-top: 0.4em;
    padding: 0;
    color: $secondary-color;
  }
}

.collection {
  &--comments {
    @extend .collection;

    .collection-item {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 100;
    }
  }
}
