.notification {
  &--comment, &--participation, &--ride {
    @extend .collection-item, .avatar, .black-text;
    border-bottom: 1px solid #e0e0e0 !important;

    &.unread {
      border-left: 2px solid $secondary-color;
      margin-top: 2px;
    }
  }
}

.new-notification { 
  background-color: $secondary-color;
  border-radius: 2px;
  color: white;
 
  padding: 0.3rem;
  font-size: 10px;
  
  position: absolute; /* Position the badge within the relatively positioned button */
  top: 30%;
  right: 37%;
}
