@import "materialize/components/color-variables";

$primary-color: color("blue-grey", "darken-1") !default;
$secondary-color: color("red", "darken-2") !default;

@import "materialize";
@import "select2_materialize";

@import "cards";
@import "buttons";
@import "flexbox";

@import "comments";
@import "mobile_nav";
@import "navbar";
@import "notifications";
@import "rides";
@import "home";

.primary-color {
  background: $primary-color;
}

.primary-color-text {
  color: $primary-color;
}

.secondary-color {
  background: $secondary-color;
}

.secondary-color-text {
  color: $secondary-color;
}

.main-page-grid {
  @extend .col, .s12, .l10, .offset-l1;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.margin-zero {
  &--btm {
    margin-bottom: 0;
  }
}
