p Hey #{@user.email},

p Here's your Bi-daily Notification check:

- @notifications_by_type.each do |( type, status ), notifications|
  p You have #{notifications.count} new #{ link_to type_text(type, status), notifications_url }
    
